@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font-logo {
  font-family: "Bad Script", cursive;
  text-transform: capitalize;

  /* color: #ffbc42; */
}

body {
  /* background-color: #e0dad5; */
  /* background-color: #dcd5d1; */
  /* background: linear-gradient(180deg, #e0dad5, #dcd5d1); */
}

#test {
  fill: #ed4956 !important;
}

.py-50p {
  padding-top: 50%;
  padding-bottom: 50%;
}
